body{
	font-family: cursive;
}


/* style for home */
.nav-item{
	font-size: 20px;
}

.nav-link{
	color: #13832f;
}
.footer-container{
	background-color: #e2e2e2;

}

.redes{
	height: 50px;
}

.iconos{
	width: 40px;
	height: 40px;
	margin-top: 5px;
}

.pie{
	color: #13832f;
}

/* style for quienes somos*/
.text-who{
	text-align: right;
}

h1{
	margin-top: 30px;
	color:#13832f;  
}
p{
	font-size: 18px;
	margin-top: 25px;
}

.img-who{
	
}

.puerta{
	width: 850px;
	height: 550px;
}

/* style for contacto*/

.contacto{
	
	text-align: center;
	margin-top: 125px;
}

.contacto> h2{
	color: #13832f;
}

.enviar{
	margin-left: 150px;
	margin-bottom: 50px;
	border-color: #13832f;
	background-color: #e2e2e2; 
	margin-top: 20px;
	color: #13832f;

}

/* style for menu*/

.menu-cuerpo{
	background-color: #e2e2e2;
}
.menu{
	height: 600px;
	background-color:#fff;
	border-radius: 5%;
	margin-right: 10px;
	margin-top: 10px;
}

.pedido{
	height: 600px;
	background-color: #fff;
	border-radius: 5%;
	margin-top: 10px;
}

.menu > h2{
	color:#13832f;
	text-align: center;
	margin-top: 10px;
}

.pedido > h2{
	color: #13832f;
	text-align: center;
	margin-top: 10px;
}

.btn-primary{
	margin-left: 45px;
	border-color: #13832f;
	background-color: #e2e2e2; 
	margin-top: 20px;
	color: #13832f;
}

#platos{
	margin-top: 30px;
}

.foto{
	width: 150px;
	height:150px;
	border-radius: 10%;
}

.nombre{
	height: 20px;
	margin-bottom: 10px;
}

.precio > p{
	
	height: 25px;
}

.btn-success{
	height: 25px;
	float: right;
	padding: 0px;
	margin-left: 30px;
}


.number{
	margin: 0px;	
}

#comanda{
	margin-top: 20px;
}

#clear{
	margin-left: 45px;
	border-color: #13832f;
	background-color: #e2e2e2; 
	margin-top: 20px;
	color: #13832f;
}
